# OS
.DS_Store

# Node
node_modules/
dist/
build/
coverage/

# Env
.env
.env.local

# Logs
*.log

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# Mac
Thumbs.db

